<div class="col-xs-8">
  <%= render "shared/errors", record: @user %>
  <%= render "users/form", record_heading: "Account: #{@user.search_display_name}" %>
</div>

<div class="col-xs-4">
  <%= render "shared/link_records" %>
</div>

<div class="col-xs-8">
  <ul class="nav nav-pills">
    <li role="presentation" class="<%= 'active' if @tab == 'opportunities' || @tab == nil %>">
      <%= link_to "Opportunities", user_path(@user, tab: "opportunities") %>
    </li>
    <li role="presentation" class="<%= 'active' if @tab == 'notes' %>">
      <%= link_to "Notes", user_path(@user, tab: "notes") %>
    </li>
  </ul>
  <br/>

  <% if params[:tab] == "opportunities" || params[:tab] == nil %>
    <% @opportunities.each do |opportunity| %>
      <%= render "opportunities/short_form", opportunity: opportunity %>
    <% end %>
  <% elsif params[:tab] == "notes" %>
    <% @notes.each do |note| %>
      <%= render "notes/short_form", note: note %>
    <% end %>
  <% end %>

</div>
