<div class="col-md-8">
  <%= render "shared/errors", record: @opportunity %>
  <%= render "opportunities/form", record_heading: "Create New Opportunity" %>
</div>

<div class="col-md-4">
  <%= render "shared/link_records" %>
</div>

<div class="col-md-8">
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= 'active' if @tab == 'accounts' || @tab == nil %>">
      <%= link_to "Accounts", opportunity_path(@opportunity, tab: "accounts") %>
    </li>
    <li role="presentation" class="<%= 'active' if @tab == 'contacts' %>">
      <%= link_to "Contacts", opportunity_path(@opportunity, tab: "contacts") %>
    </li>
    <li role="presentation" class="<%= 'active' if @tab == 'notes' %>">
      <%= link_to "Notes", opportunity_path(@opportunity, tab: "notes") %>
    </li>
    <li role="presentation" class="<%= 'active' if @tab == 'users' %>">
      <%= link_to "Users", opportunity_path(@opportunity, tab: "users") %>
    </li>
  </ul>
  <br/>

  <% if params[:tab] == "accounts" || params[:tab] == nil %>
    <% @accounts.each do |account| %>
      <%= render "accounts/short_form", account: account %>
    <% end %>
  <% elsif params[:tab] == "contacts" %>
    <% @contacts.each do |contact| %>
      <%= render "contacts/short_form", contact: contact %>
    <% end %>
  <% elsif params[:tab] == "notes" %>
    <% @notes.each do |note| %>
      <%= render "notes/short_form", note: note %>
    <% end %>
  <% else params[:tab] == "users" %>
    <% @users.each do |user| %>
      <%= render "users/short_form", user: user %>
    <% end %>
  <% end %>

</div>
