<% if logged_in? %>
  <nav class="navbar"></nav>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <span class="glyphicon glyphicon-home"></span>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" method="get" action="/search" role="search">
          <div class="form-group">
            <input type="text" class="form-control" style="width: 300px" name="query" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </form>
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Create New Record ... <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "New Account", new_account_path %>
              </li>
              <li>
                <%= link_to "New Contact", new_contact_path %>
              </li>
              <li>
                <%= link_to "New Opportunity", new_opportunity_path %>
              </li>
              <li>
                <%= link_to "New Note", new_note_path %>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              Signed in as: <strong><%= current_user.first_name %></strong> (<%= current_user.role.name %>) <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <span class="glyphicon glyphicon-user"></span>
                  Profile
                <% end %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to logout_path do %>
                  <span class="glyphicon glyphicon-off"></span>
                  Logout
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<% end %>
