<div class="col-md-8">
  <%= render "shared/errors", record: @account %>
  <%= render "accounts/form", record_heading: "Account: #{@account.name}" %>
</div>

<div class="col-md-4">
  <%= render "shared/link_records" %>
</div>

<div class="col-md-8">
  <ul class="nav nav-pills">
    <li role="presentation" class="<%= 'active' if @tab == 'contacts' || @tab == nil %>">
      <%= link_to "Contacts", account_path(@account, tab: "contacts") %>
    </li>
    <li role="presentation" class="<%= 'active' if @tab == 'opportunities' %>">
      <%= link_to "Opportunities", account_path(@account, tab: "opportunities") %>
    </li>
    <li role="presentation" class="<%= 'active' if @tab == 'notes' %>">
      <%= link_to "Notes", account_path(@account, tab: "notes") %>
    </li>
  </ul>
  <br/>

  <% if params[:tab] == "contacts" || params[:tab] == nil %>
    <% @contacts.each do |contact| %>
      <%= render "contacts/short_form", contact: contact %>
    <% end %>
  <% elsif params[:tab] == "opportunities" %>
    <% @opportunities.each do |opportunity| %>
      <%= render "opportunities/short_form", opportunity: opportunity %>
    <% end %>
  <% else params[:tab] == "notes" %>
    <% @notes.each do |note| %>
      <%= render "notes/short_form", note: note %>
    <% end %>
  <% end %>

</div>
